<% layout('layouts/boilerplate') %>
<body>
    <div class="col-6 offset-3">
    <form method="POST" action="/listings/<%= data.id %>?_method=PUT" class="form needs-validation" validate enctype="multipart/form-data">
        <h3 class="text-center" style="color: #fe424d;">Update Listings</h3>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="listing[title]" value="<%=data.title %>" required><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="listing[description]"required><%=data.description %></textarea><br>

        <label for="image">Current Image:</label><br>
        <img src="<%=originalimg %>"> <br>

        <label for="image">Upload Image:</label><br>
        <input type="file" id="image" name="listing[image]" value="<%=data.image.url %>"> <br>
        
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="listing[price]" value="<%=data.price %>" required><br>
        
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="listing[location]" value="<%=data.location %>" required><br>
        
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="listing[country]" value="<%=data.country %>" required><br><br>

        <label for="category">Category:</label><br />
        <select id="category" name="listing[category]" required>
        <option value="Trending" <%= data.category === 'Trending' ? 'selected' : '' %>>Trending</option>
        <option value="Rooms" <%= data.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
        <option value="Iconic Cities" <%= data.category === 'Iconic Cities' ? 'selected' : '' %>>Iconic Cities</option>
        <option value="Mountains" <%= data.category === 'Mountains' ? 'selected' : '' %>>Mountains</option>
        <option value="Pools" <%= data.category === 'Pools' ? 'selected' : '' %>>Pools</option>
        <option value="Castles" <%= data.category === 'Castles' ? 'selected' : '' %>>Castles</option>
        <option value="Farms" <%= data.category === 'Farms' ? 'selected' : '' %>>Farms</option>
        <option value="Domes" <%= data.category === 'Domes' ? 'selected' : '' %>>Domes</option>
        <option value="Boats" <%= data.category === 'Boats' ? 'selected' : '' %>>Boats</option>
        <option value="Beachs" <%= data.category === 'Beachs' ? 'selected' : '' %>>Beachs</option>
        </select>
        <br />
        <br />
        <button class="submit" type="submit">Update</button>
    </form>
</div>
</body>
